#forgot-password-frame {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 400px;
    min-height: 350px;
    margin-top: 50px;
    user-select: none;
    height: auto;
}
.forgot-password-error {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    color: rgb(203, 75, 75);
    text-align: left;
    padding: 5px;
    font-weight: bold;
}
@media screen and (max-width: 720px) {
    #forgot-password-frame {
        width: 100%;
    }
}